@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

:root{
  --color-primario-oscuro: #14213d;
  --color-acento: #fca311;
  --color-acento-claro: #ffebca;
  --color-secundario-oscuro: #4a4a50;
  --color-secundario-claro: #dfdfe2;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main h2{
  margin: 2rem 0;
}

